{% extends "pdf.html" %}
{% block title %}{{ identifier|replace("_", " ") }}{% endblock %}
{% block author %}{% endblock %}
{% block date %}{% endblock %}"/>
{% block assignment_title %}{% endblock %}"/>
{% block content %}
    <h1>{{ options_dict['assignment_title'] }} - Feedback for {{ identifier|replace("_", " ") }}</h1>
    <p>Below is a chart of perceived performance to date against the criteria.</p>
    <img src="../charts/{{ options_dict['assignment_short'] }}-{{ identifier }}.png" alt="feedback chart"/>
    <h2>Perspectives on aspects done well to date</h2>
    {% if comment_dict %}
        {% for role in roles %}
              {% for k, v in comment_dict.items() %}
                  {% if v.role == role %}
                    <p><strong>{{ role }}</strong><br />
                      {% if v.comment_a %}
                        {{ v.comment_a }}
                      {% endif %}
                  {% endif %}
              {% endfor %}
        {% endfor %}
    {% endif %}

    <h2>Perspectives on aspects to be improved</h2>
    {% if comment_dict %}
        {% for role in roles %}
              {% for k, v in comment_dict.items() %}
                  {% if v.role == role %}
                    <p><strong>{{ role }}</strong><br />
                      {% if v.comment_b %}
                        {{ v.comment_b }}
                      {% endif %}
                  {% endif %}
              {% endfor %}
        {% endfor %}
    {% endif %}

    {% if audience == "conf" %}
    <h2>Confidential Feedback</h2>
    {% if comment_dict %}
        {% for role in roles %}
              {% for k, v in comment_dict.items() %}
                  {% if v.role == role %}
                    <p><strong>{{ role }}</strong><br />
                      {% if v.comment_confidential %}
                        {{ v.comment_confidential }}
                      {% endif %}
                  {% endif %}
              {% endfor %}
        {% endfor %}
    {% endif %}
    {% endif %}
{% endblock %}
