{% extends "pdf.html" %}
{% block title %}{{ record.name|replace("_", " ") }}{% endblock %}
{% block author %}{% endblock %}
{% block date %}{% endblock %}"/>
{% block assignment_title %}{% endblock %}"/>
{% block content %}
    <h1>Feedback for {{ record.name|replace("_", " ") }} ({{ record.user }})</h1>

    {% if options_dict['crit_display']['graph'] == "True" %}
        <img src="../charts/{{ record.user|replace("_", " ") }}.png" alt=""/>
    {% endif %}

    {% for field_item in field_dict.items() %}
        {% for field in field_item %}
        <h3>{{ field.label }}</h3>
        {% if field.label %}
            <em>{{ field.description}}</em>
        {% endif %}
            {{ record[field.field]}}
        {% endfor %}
    {% endfor %}

        <h1>Rubric</h1>
        <table>
            <tr>
                <th>Criteria</th>
                {% for k, level in levels_dict.items() %}
                <th>{{ level['text'] }}</th>
                {% endfor %}
            </tr>
            {% for k, crit in crit_dict.items() %}
            <tr>
                <th>{{ crit['label'] }}<br />({{ crit['weight'] }})</th>
                {% for k, level in levels_dict.items() %}
                {% set this_field = crit['field'] + "_desc" %}
                <td>{{ this_field }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>



{% endblock %}