{% extends "pdf.html" %}
{% block title %}{{ record.name|replace("_", " ") }}{% endblock %}
{% block author %}{% endblock %}
{% block date %}{% endblock %}"/>
{% block assignment_title %}{% endblock %}"/>
{% block content %}
    <h1>Feedback for {{ record.name|replace("_", " ") }} ({{ record.user }})</h1>
    <p>Perceived performance on this task against the criteria.</p>
    <img src="../charts/{{ record.user|replace("_", " ") }}.png" alt="record"/>

    {% for field_key, field_val in field_dict %}
        {{ field_val.label }}<br />
    {% endfor %}

    {% for record_key, record_val in record %}}
        {{ record_val }}<br />
    {% endfor %}


{% endblock %}