<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VirtuousLoop Feedback</title>
    <link rel="stylesheet" href="../../../includes/css/pdf.css">
    <meta name="theme-color" content="#563d7c">
</head>
<body>
<header id="nw">{% block nw %}{{ options_dict['assignment']['course'] }} {{ options_dict['assignment']['assignment_title'] }}{% endblock %}</header>
<header id="ne">{% block ne %}{% endblock %}</header>
<footer id="sw">{% block sw %}{% endblock %}</footer>
<footer id="se">{% block se %}{% endblock %}</footer>
{% block content %}{% endblock %}
</body>
</html>